<!DOCTYPE html>
<html>
  <head>
    <title>d3</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <link rel="stylesheet" type="text/css" href="/styles/unsemantic-grid-responsive.css">

    <!-- CSS -->
    <!-- load by requirejs plugin, requireCSS -->
    <!-- JS -->
    <script data-main="/js/main.js" src="/js/lib/require.js"></script>

  </head>

  <body>
    <%- body %>
    </body>
</html>
