<div> Select only 2 dimentions ("petal width" and "sepal length", which is the left top cell in the trellis) for clustering example.<br> Highlighted area in trellis could be wrong currently.
</div>
<div id="radial-clustergram" class="basic-frame">
    <div id="sequence"></div>
        <div id="chart">
            <div id="explanation" style="visibility: hidden;">
            <span id="percentage"></span><br/>
            of species will be selected.
            </div>
        </div>
    </div>
</div>
<div id="trellis" class="basic-frame">
</div>
<pre id="mypre"></pre>
